# IDE clutter #
###############
.idea
venv

# Execution clutter #
#####################
__pycache__
.ipynb_checkpoints
dataset
pickles
*.csv
results/
*.pkl

# Documentation clutter #
#########################
docs/_build
docs/README.md
docs/agentMET4FOF_tutorials
docs/CHANGELOG.md

# Build clutter #
#################
*.egg-info/

# Test clutter #
################
test-reports/