mesa
ipykernel
numpy
scipy
matplotlib<3.3.0 # Version 3.3 caused an error. Details you can find in
               # docs/matplotlib3.3_pytest_error_log
               # Actually the mpl_to_plotly feature is considered deprecated from
               # version 3.3 on. See
               # https://github.com/plotly/plotly.py/issues/1568
               # for more details.
pandas
osbrain
dash
dash_cytoscape
networkx
plotly
time-series-buffer
time-series-metadata
mpld3
