._dash-undo-redo {
  display: none;
}

.dash-table-container [type="checkbox"]:not(:checked), .dash-table-container [type="checkbox"]:checked {
    position: inherit;
    opacity: inherit;
    pointer-events: inherit;
}
